:root {
  --c-border: #dadce0;
  --c-text: #222222;
  --c-text-light: #a4adaf;
  --c-text-invert: #fff;
  --c-text-dark: #3c4043;
  --c-block-hover: #f1f3f4;
  --c-bg: rgba(255,255,255,1);
  --c-accent: #66bb6a;
  --c-accent-hover: #59a05d;
  --c-button: #f2f2f2;
  --c-input: #fff;
  --shadow-block: 0 24px 38px 3px rgba(0,0,0,.14),
                  0 9px 46px 8px rgba(0,0,0,.12),
                  0 11px 15px -7px rgba(0,0,0,.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus-visible {
    outline: none;
  }
}

body.dark {
  --c-border: #414141;
  --c-text: #d4d4d4;
  --c-text-light: #a4adaf;
  --c-text-dark: #e1e1e1;
  --c-block-hover: #4d4d4d;
  --c-bg: #1a1a1a;
  --c-accent: #66bb6a;
  --c-accent-hover: #59a05d;
  --c-button: #373737;
  --c-input: #121212;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--c-bg);
  transition: 0.3s ease-out;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (max-width: 768px) {
  .add_task_box {
    display: none;
  }

  .logo-link {
    display: none;
  }
}

.pagination {
  display: flex;
  gap:6px;
}

.page-item {
  color: var(--c-text-light);
  border-radius: 4px;

  a {
    min-width: 30px;
    height: 30px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &:hover {
    background: var(--c-block-hover);
    color: var(--c-text);
  }

  &.disabled {
    pointer-events: none;
  }

  &.active {
    background: var(--c-accent);
    color: var(--c-text-invert);
    pointer-events: none;
    font-weight: 600;
  }
}

.prev-class,
.next-class {
  position: relative;
  cursor: pointer;
  a {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 4px;

    &:hover {
      background: var(--c-block-hover);
      &:after {
        border-color: var(--text);
      }
    }

    

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 4px);
      left: 8px;
  
      width: 8px;
      height: 8px;
      border-top: 2px solid var(--c-text-light);
      border-left: 2px solid var(--c-text-light);
      border-radius: 2px;
      
    }
  }

  &.disabled {
    pointer-events: none;
  }
}

.prev-class {
  a {
    &:after {
      transform: rotate(-45deg);
      left: 12px;
    }
  }
}

.next-class {
  a {
    &:after {
      transform: rotate(135deg);
    }
  }
}