:root {
    --c-border: #dadce0;
    --c-text: #5f6368;
    --c-text-light: #a4adaf;
    --c-text-dark: #3c4043;
    --c-block-hover: #f1f3f4;
    --c-bg: rgba(255,255,255,1);
    --c-accent: #66bb6a;
    --c-accent-hover: #59a05d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}